.messages-wrapper {
   height: 550px;
   width: 40%;
   box-sizing: border-box;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
   border-radius: 10px 10px 0 0;
   color: whitesmoke;
   font-size: 12px;
   padding: 12px 15px;
   position: absolute;
   overflow:auto;
   scroll-behavior: smooth;
}

.messages-list {
   margin: 12px 0 0 0;
}

.messages-list:first-child {
   margin: 0;
}

.message-list-you {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.message-list-bot {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.author-name {
   color: rgba(70, 131, 180, 0.85);
}

.bot-name {
   color: rgb(180, 70, 70);
}

.text-message {
   margin: 0;
   border-radius: 8px;
   background: rgba(119, 136, 153, 0.5);
   width: fit-content;
   padding: 2px 6px;
   margin: 4px 0 0 0;
}