.input-wrapper {
   width: 500px;
   display: flex;
   justify-content: center;
   position: relative;
   top: 556px;
}

.input {
   outline: none;
   flex: 1;
   height: 35px;
   padding: 0 8px;
   border-radius: 10px;
   margin: 0 0 0 8px;
   background: whitesmoke;
}

.send-btn {
   padding: 0 8px;
   background: steelblue;
   color: whitesmoke;
   border-radius: 10px;
   margin: 0 8px;
   cursor: pointer;
}